/*
!/Interface/
/Interface/*
!/Interface/AddOns/
Interface/AddOns/Blizzard_*
Interface/AddOns/GladiatorosSA_zhCN
Interface/AddOns/DBM-*
*.mp3
*.ogg
*.tga
*.blp
*.wav
*.ttf
*.bmp
*.gif
*.jpg
!wow.exe
!wow-64.exe
!.gitignore